
.text_style{
    text-decoration: none;
}
.card_style{
    width: 50%;
    height: 60vh;
    box-shadow: 5px 5px 25px -5px, rgba(0,0,0,0.5);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.cardMedia{
    padding-top:'81.25%';
    border-radius:'50%';
    margin:'28px';
}
.scroll{
    max-height: 300;
    overflow: 'auto';
}