.coming_soon{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    padding-top: 20%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}