.mymodal {
    position: fixed;
    top: 20%;
    left: 60%;
    right:20%;
    border: 1px solid #ccc;
    
    overflow: auto;
    border-radius: 4px;
    outline: none;
    
  }
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }