.sidebar_style{
    position: flex;
    margin: 30px;
    border-radius: 25px;
    background: #4351C8;
    align-items: center;
    height: 37rem;
}
.align_center{
    padding-top: 17rem;
    padding-bottom: 10px;
    margin: auto;
    width: 50%;
}


.nav_display{
    position: flex;
    margin: 10px 10px 20px;
    background: #fff;
    border-radius: 15px;
}

.link_style{
    text-decoration: none;
    color: #A8A2E4;
}
.link_style:active{
    color: #fff;
}
.link_style:hover{
    color: #fff;
}

